@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
 --color0:#0a2c19;
 --color1:#1A5C37;
 --colo2:#36C275;
 --color3:#3EDB84;
 --color4:#41E88C;
 --color5:#dfffed;   

 --fontdefault: Arial, Verdana, Helvetica, sans-serif;
 --fonthighlight: 'Bebas Neue', cursive;
 --fontandroid: 'Android', cursive;
}

main a::after {
    content:' 🔗';
}

body {
    background-color: var(--color5);
    font-family: var(--fontdefault);
}

header {
    background-color: var(--color1);
}

nav {
    background-color: var(--color0);
}

main {
    background-color: white;
}

header > h1 {
    color: white;
    font-family: var(--fonthighlight);
}

header > p {
    color: white;
}

main h1 {
    color: var(--color0);
    font-family: var(--fontandroid);
}

main h2 {
    font-family: var(--fontandroid);
}

footer {
    background-color: var(--color0);
    color: white;
}